<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#" aria-current="page"
      >Sistema <span class="visually-hidden">(current)</span></a
    >
    <a class="nav-item nav-link" routerLink="listar-editorial"  href="#">Listar Editoriales</a>
    <a class="nav-item nav-link" routerLink="agregar-editorial" href="#">Agregar Editorales</a>
    
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

